

<div id="about">
  <div class="about-content">
    <h1>This template was made with
      <i class="fa fa-heart"></i>
      by
    </h1>
    <ul class="list-inline text-center">
      <% ["andreluizpinho", "reinaldoluiz", "edusimioni"].each do |gh_username| %>
        <li>
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/#{gh_username}", class: "img-circle img-profile" %>
          <h3><%= gh_username.capitalize %></h3>
        </li>
      <% end %>
    </ul>
  </div>
</div>
